LUCKY_ENV=production
SECRET_KEY_BASE="ashKNREtxlMYeSSoNLAmocgUx+VL+XGd4pltlfovGMk="
SEND_GRID_KEY=unused
HOST=127.0.0.1
PORT=5000
APP_DOMAIN=https://crystal-china.org
DATABASE_URL=postgres://postgres:passwd@127.0.0.1:5432/crystal_china_production
CRYSTAL_LOAD_DEBUG_INFO=0
CARBON_SMTP_SERVER="smtp.gmail.com"
CARBON_SMTP_PORT=587
CARBON_SMTP_USER=someemail@gmail.com
CARBON_SMTP_PASSWORD=passwd
