/lib/
/bin/
/.shards/
*.dwarf
/website
/node_modules
/latest_released/*
/.env
/tmp
/.tool-versions
/dist
/public/assets
/public/bun-manifest.json
/public/markdowns/search-index.st
/public/markdowns/search-index.st.version
/script/setup
/script/system_check
/*.custom.gz
