@layer components {
  /* ---------------- 侧边栏 ---------------- */

  #sidebar ul {
    @apply my-0 list-none ps-0;
  }

  #sidebar li {
    @apply my-1;
  }

  #sidebar a {
    @apply inline-flex items-center rounded-md px-2 py-1 text-base font-medium text-gray-800 no-underline transition hover:bg-gray-100 hover:text-gray-950;
  }

  #sidebar nav a.active,
  #sidebar nav a:active {
    @apply bg-gray-200 text-gray-950;
  }

  #sidebar nav a:focus-visible {
    outline: 2px solid #63b3ed;
    outline-offset: 2px;
    border-radius: 6px;
  }

  #sidebar ul ul a {
    @apply text-[0.98rem] font-normal text-gray-700;
  }
}
