/* 加上下面两行，允许通过 js 点开 model 对话框后，textarea 为选中状态 */
textarea:not([class]) {
  transition: border-color 0.2s, box-shadow 0.2s;
}

textarea:not([class]):focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: 0 0 0 2px #c8e1ff;
}
