[Unit]
Description=crystal-china
After=nginx.service

[Service]
LimitNOFILE=1048576
Type=simple
User=crystal_china
WorkingDirectory=/home/crystal_china/apps/website_production
Environment="LD_LIBRARY_PATH=/home/crystal_china/apps/website_production/lib"
ExecStart=/home/crystal_china/apps/website_production/bin/crystal_china
Restart=on-failure

[Install]
WantedBy=multi-user.target
